@use "../setup/variables";

@mixin for-mobile-only {
  @media (max-width: variables.$break-mobile) { @content; }
}

@mixin for-tablet-desktop {
  @media (min-width: variables.$break-tablet-desktop) { @content; }
}

@mixin svg-transition-fill($currentColor, $hoverColor){
  fill: $currentColor;
  transition: all 0.3s ease-in-out;
  &:hover{
    fill: $hoverColor;
  }
}