@mixin for-mobile-only {
  @media (max-width: 767px) { @content; }
}

@mixin for-tablet-desktop {
  @media (min-width: 768px) { @content; }
}

@mixin svg-transition-fill($currentColor, $hoverColor){
  fill: $currentColor;
  transition: all 0.3s ease-in-out;
  &:hover{
    fill: $hoverColor;
  }
}
// @mixin for-desktop {
//   @media (min-width: 1024px) { @content; }
// }
// @mixin for-desktop-up {
//   @media (min-width: 1200px) { @content; }
// }
// @mixin for-big-desktop-up {
//   @media (min-width: 1800px) { @content; }
// }