@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
}


