// COLOR PALETTE

$clr1: #18171f;
$clr2: #24232c;
$clr3: #e6e5ea;
$clr4: #817d92;
$clr5: #a4ffaf;
$clr6: #f64a4a;
$clr7: #fb7c58;
$clr8: #f8cd65;


// This color for strength of the generator app
// :root {
//   --emptySquareColor: #e6e5ea;
//   --tooWeakSquareColor: #f64a4a;
//   --weakSquareColor: #fb7c58;
//   --mediumSquareColor: #f8cd65;
//   --strongSquareColor: #a4ffaf;
// }

// LAYOUT BREAKPOINTS

$break-narrow: 376px;
$break-normal: 768px;
$break-wide: 1024px;
